<div>
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label for="name">
      Name
      <input type="text" name="username" placeholder="Steve Jobs" />
    </label>
    <br />

    <label for="email">
      <input type="email" name="email" placeholder="Enter your email" />
    </label>
    <br />

    <label for="password">
      <input type="password" name="password" placeholder="******" />
      <br />
    </label>
    <br />

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <button type="submit">SIGNUP</button>
  </form>
</div>