<!-- Carousel Container -->
<div class="d-flex justify-content-center align-items-center mt-2">
  <div
    id="carouselExampleDark"
    class="carousel carousel-light slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators bg-transparent">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <!-- Slides -->
    <div class="carousel-inner text-center">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./images/slide-1.jpg" class="w-60" alt="slide-1" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./images/slide-2.jpg" class="w-60" alt="slide-2" />
      </div>
      <div class="carousel-item">
        <img src="./images/slide-3.jpg" class="w-60" alt="slide-3" />
      </div>
      <!-- Controls -->
    </div>
    <button
      class="carousel-control-prev bg-transparent"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bg-transparent"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bg-transparent"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel Container End -->

<!-- Description container -->
<div
  class="d-flex justify-content-center align-items-center m-0 p-0 description-container"
>
  <div class="container px-4 py-5">
    <div class="align-items-start mx-2">
      <h2 class="description-title fst-italic vw-100">Unleash Your Potential
        with GOALS</h2>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h2 class="description-secondtitle">Set Meaningful Goals</h2>
          <p>Create a clear roadmap to your aspirations.
            <br />
            Define your goals and watch them take shape as you progress.</p>
          <a href="/signup" class="btn">
            Get Started
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2 class="description-secondtitle">Connect and Collaborate</h2>
          <p>Join a vibrant community of like-minded individuals. Share goals,
            gain support, and collaborate on your journey to success.</p>
          <a href="/login" class="btn">
            Explore
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2 class="description-secondtitle">Achieve Your Dreams</h2>
          <p>Experience the satisfaction of reaching your steps. Our tools and
            resources will empower you to turn your dreams into reality.</p>
          <a href="#" class="btn">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div></div>

<!-- Description Container End -->