<style>
  /* Add the provided styling code here */
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #f5f5f5;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  select {
    height: 40px;
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #427ab5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #9f6b57;
  }
  .error {
    color: #ff0000;
    margin-top: 10px;
  }
</style>



<div class="container">

<a href="/userProfile">Profile</a>
<a href="/my-goals">All my goals</a>

<h1>Create your goal</h1>

<form id="steps-form">
  <button id="new-step">+ Create a new step</button>
</form>

<form action="/my-goals/createGoal" method="POST">
 <label for="title">
  What is your goal?
  <input type="text" name="title" required placeholder="Goals title" />
  <br />
</label>
<label for="steps">
    Steps:
    <ol id="step-container">
      <li><input type="text" name="step" />
        Do you have any blockers?
        <input type="text" name="blockers" /><br />
        <label for="isCompleted">Done</label>
        <input type="checkbox" name="isCompleted" /><br />
      </li>
    </ol>
  </label> <br>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

<label for="category">Category:
  <select name="category" required>
    <option value="Health">Health</option>
    <option value="Sports">Sports</option>
    <option value="Personal Life">Personal Life</option>
    <option value="Education">Education</option>
    <option value="Career">Career</option>
    <option value="Family">Family</option>
    <option value="Financial goals">Financial goals</option>
    <option value="Lifestyle">Lifestyle</option>
    <option value="Stop bad habits">Stop bad habits</option>
  </select>
</label><br />

<div>
  <label for="reason">
    <p>
      Why do you want this?
    </p>
    <textarea name="reason"> </textarea>
  </label>
</div>

<label for="isPublic">Public:
  <input type="checkbox" name="isPublic" /></label>

<label for="isPrivate">Private:
  <input type="checkbox" name="isPrivate" /></label><br />

<button type="submit" >CREATE YOUR GOAL!</button>
</form>


