<section class="h-100">
<a href="/userProfile" class="btn btn-link">Profile</a>
<a href="/my-goals" class="btn btn-link">All my goals</a>

<div class="container">
  <h1 class="text-center mb-4">Create your goal</h1>
  
  <form id="steps-form" class="mb-3">
    <button id="new-step" class="btn btn-primary">+ Create a new step</button>
  </form>
  
  <form action="/my-goals/createGoal" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">What is your goal?</label>
      <input type="text" name="title" required class="form-control" placeholder="Goals title">
    </div>
    
    <div class="mb-3">
      <label for="steps" class="form-label">Steps:</label>
      <ol id="step-container" class="list-group">
        <li class="list-group-item">
          <input type="text" name="step" class="form-control" placeholder="Step">
          <label class="form-label">Do you have any blockers?</label>
          <input type="text" name="blockers" class="form-control" placeholder="Blockers">
          <div class="form-check">
            <input type="checkbox" name="isCompleted" class="form-check-input">
            <label class="form-check-label">Done</label>
          </div>
        </li>
      </ol>
    </div>
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    
    <div class="mb-3">
      <label for="category" class="form-label">Category:</label>
      <select name="category" required class="form-select">
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Personal Life">Personal Life</option>
        <option value="Education">Education</option>
        <option value="Career">Career</option>
        <option value="Family">Family</option>
        <option value="Financial goals">Financial goals</option>
        <option value="Lifestyle">Lifestyle</option>
        <option value="Stop bad habits">Break habits</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label for="reason" class="form-label text-dark">Why do you want this?</label>
      <textarea name="reason" class="form-control"></textarea>
    </div>
    
    <div class="form-check mb-3">
      <input type="checkbox" name="isPublic" class="form-check-input">
      <label class="form-check-label text-dark">Public</label>
    </div>
    
    <div class="form-check mb-3">
      <input type="checkbox" name="isPrivate" class="form-check-input">
      <label class="form-check-label text-dark">Private</label>
    </div>
    
    <button type="submit" class="btn btn-primary">CREATE YOUR GOAL!</button>
  </form>
</div>
</section>



