
<section class="h-100">
<div class="container mt-5">
  <h1 class="text-center mb-4">My Goals</h1>
  <ul class="list-unstyled">
    {{#each goals}}
      <li class="mb-3 p-3 bg-light rounded shadow-sm">
        <a href="my-goals/goal/{{this._id}}" class="text-decoration-none font-weight-bold text-primary">
          {{this.title}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>




<h1>My Goals</h1>
<ul>
  {{#each goals}}
    <li>
      <a href="my-goals/goal/{{this._id}}">
        {{this.title}}
      </a>
    </li>
  {{/each}}
  </ul>
</section>

