/* Brand colors: 
#f6f6f0: Cream
#cfc479: Pale Gold
#c3c088: Khaki Green
#b7bc98: Greenish Gray
#acb9a8: Dusty Green
*/

/* Global Styles */
* {
  background-color: #f6f6f0;
  color: #acb9a8;
}

/* Main page */

.description-container {
  background-color: #f6f6f0;
  padding: 50px 0;
}
.description-title {
  color: #cfc479;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  height: min-content;
  width: fit-content;
}

.description-secondtitle{
  color:#c3c088;
}

.btn {
  background-color: #b7bc98;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: #b7bc98 0.3s ease;
}

.btn:hover {
  background-color: #cfc479;
}

footer,
footer div,
footer span {
  background-color: #acb9a8;
}

.footer {
  background-color: #acb9a8;
}

/* Signup & Login forms */

.auth-form {
  display: block;
  align-items: center;
  text-align: center;
}

.auth-btn {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  background-color: #cfc479;
  border: 3px solid #c3c088;
  color: #f6f6f0;
}

label {
  color: #c3c088;
}
.auth-title {
  color: #acb9a8;
}

<<<<<<< HEAD
/* User profile page */

.bg-profile{
  background-color: #acb9a8;
  height: 200px;
}

.list-group{
 background-color: #c3c088;
}
=======






>>>>>>> 2f2bd3e1f7e6a203293376059ffe85389e849549
